body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-rizt0-MuiTypography-root {
    margin: 0 !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.00938em !important;
}

.css-1kizqvn-MuiListItem-root {
 
   
    display: flex !important;
    -webkit-box-pack: start !important;
    justify-content: flex-start !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    position: relative !important;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    width: 100% !important;
    box-sizing: border-box !important;
    text-align: left !important;
    padding-right: 16px !important;
    transition: background-color 150ms 
cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    padding-left: 32px !important;
    cursor: pointer !important;
    background-color: transparent !important;
}